/Common/bin
/Common/obj

/Editor/bin
/Editor/obj

/Main/bin
/Main/obj
/Main/*.js
/Main/*.js.map

/Main/Engine/*.js
/Main/Engine/*.js.map

/Main/Entities/*.js
/Main/Entities/*.js.map

*.suo
*.user
*.bak
